<main class="me-container">
    <header class="me-header-container">
        <h1 class="me-header-title">{{'titles.msg001' | transloco}}</h1>
        <me-change-language class="me-header-menu" />
    </header>
    
    
    <nz-tabset [(nzSelectedIndex)]="nzSelectedIndex" class="me-tabset-container">
        <nz-tab [nzTitle]="'🛠️ ' + ('labels.msg006' |transloco)">
            <me-form-message />
        </nz-tab>
        <nz-tab [nzTitle]="'📖 ' + ('labels.msg005' |transloco)">
            <p class="me-description-text" [innerHTML]=" 'description.msg001' | transloco"></p>
        </nz-tab>
        <nz-tab [nzTitle]="'⚙️ ' + ('labels.msg010' |transloco)">
            <me-config (changeTab)="nzSelectedIndex = $event" />
        </nz-tab>
    </nz-tabset>
</main>