@import "src/scss/mixins";
@import "src/scss/variables";

::ng-deep {
  .me-description-text {
    strong {
      text-transform: uppercase;
      color: $secondary-color;
    }
  }
}

.me-header-container {
  @include flex-center();
  gap: 15px;
  .me-header-title {
    color: $primary-color;
    font-size: 1rem;
    white-space: normal;
  }
}
