@import "src/scss/variables";
@import "src/scss/mixins";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 600px; //maximum size allowed by google = (height: 600px)
  width: 450px; //maximum size allowed by google = (width: 800px)
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  padding: 10px;
  @include flex-center($direction: column);
  justify-content: flex-start;
}
