@import "src/scss/variables";
@import "src/scss/mixins";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 600px; //maximum size allowed by google = (height: 600px)
  width: 450px; //maximum size allowed by google = (width: 800px)
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  padding: 10px;
  @include flex-center($direction: column);
  justify-content: flex-start;
}

/*****************************************************************/
/********************[Scrollbar Config]***************************/
$primary-color-scroll: #434343;
$secondary-color-scroll: #262626;
$width-scroll: 14px;

::-webkit-scrollbar,
*::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: $width-scroll;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: $primary-color-scroll;
  border-radius: 6px;
  border: 2px solid $secondary-color-scroll;
}

::-webkit-scrollbar-track,
*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: $secondary-color-scroll;
}

/*****************************************************************/
/********************[Scrollbar Config]***************************/
