@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin override-ant-button($color, $color-hover) {
  .ant-btn {
    background-color: $color;
    border-color: $color;
  }

  .ant-btn:not([disabled]):focus,
  .ant-btn:not([disabled]):active,
  .ant-btn:not([disabled]):hover {
    background-color: $color-hover;
    border-color: $color-hover;
  }
}
